


:root {
  --bg: #fdfdfd;  
  --bg--nav: #ffffff;
  --bg--hero: #f0f4f8;
  --bg--hiw: #fdfdfd;
  --card--hiw: #eaf4fc;
  --bg--wcu: #f3faff;
  --card--wcu: #ffffff;
  --bg--wcs: #ffffff;
  --card--wcs: #f9fafb;
  --card--c: #ffffff;
  --text--c: #444e5c;
  --button--c: #4f9dff;
  --text: #1f2937;
  --card-bg: #ffffff;
  --card-border: #e5e7eb;
  --primary: #3b82f6; /* blue-500 */
  --primary-hover: #2563eb; /* blue-600 */
  --secondary: #f59e0b; /* amber-500 */
  --secondary-hover: #d97706; /* amber-600 */
  --button--to: #ffafcc; /* light coral pink */
  --section-bg: #f3faff;
  --primary--mcw:#579dd6;
}

.dark {
  --bg: #111827;
  --bg--nav: #1f2937;
  --bg--hero: #1e293b;
  --bg--hiw: #111827;
  --card--hiw: #1e293b;
  --bg--wcu: #1e293b;
  --card--wcu: #111827;
  --bg--wcs: #111827;
  --card--wcs: #1e293b;
  --card--c: #1c1f2b;
  --text--c: #d1d5db;
  --button--c: #38bdf8; /* sky-400 */
  --text: #f9fafb;
  --card-bg: #1e293b;
  --card-border: #334155;
  --primary: #60a5fa; /* blue-400 */
  --primary-hover: #3b82f6; /* blue-500 */
  --secondary: #fca5a5; /* red-300 */
  --secondary-hover: #f87171; /* red-400 */
  --button--to: #4b5563; /* gray-600 */
  --section-bg: #1e293b;
  --primary--mcw:#344663;
}

body {
  background-color: var(--bg);
  color: var(--text);
  transition: background-color 0.3s, color 0.3s;
}
